<!DOCTYPE html>
<html lang="en">
<head>
  <h1> User 페이지 </h1><br>
</head>

<body>

  <form method = "POST">
         <p>ID를 입력해주세요: <input type = "text" name = "이름" /> <input type = "submit" value = "확인" /> <input type="button" value="초기화" onclick="location.href='/user'"> </p>

  </form>

  <div>
    나의 ID : {{result}}
  </div>

  <br><br>

  <input type="button" value="나와 만날 이성의 스타일은 어떤 가?" onclick="location.href='/user/select1'">
  <input type="button" value="나와 그 (혹은 그녀)가 언제부터 사귀기 시작 했는 가?" onclick="location.href='/user/select2'">
  <input type="button" value="내가 이번에 새로 구매한 상품의 판매자 평점은 몇 점인가?" onclick="location.href='/user/select3'">

  <br><br><br>

  <div>
      result  : {{resultData | safe}}
  </div>
  <br>

</body>
</html>